
:host {
    display: block;
    width: 100%;
    position: relative;
    z-index: 10;
}
nav{
    background-color: #ffffff;
    height: 10px;
    }

 @font-face {
        font-family: Magneto;
        src: url(/src/assets/Fonts/magneto/MAGNETOB.woff);
      }
        
h1 
{
    font-family: Magneto;
    color: #3694eb;
}
