<footer>
    <div class="container"> 
        <div class="lg:px-8">
            <div class="row justify-content-around align-items-center">
                <div class="col-lg-6">
                    <p>Copyright &copy;{{ currentYear }} All rights reserved</p>                                     
                </div>
                <div class="col-lg-4">
                    <p>Designed and Developed by <span>Naveen Chowdary</span></p>
                </div>
            </div>
        </div>
    </div>
</footer>
