<section class="gray-bg" id="Clients">
    <div class="container"> 
      <div class="row justify-content-center text-center">
            <h2 class="cli">OUR TRUSTED CLIENTS</h2>
    </div>
<div class="customer-logos">
<div class="svg"><img src="../assets/aa.svg"></div>
<div class="svg"><img src="../assets/alba.svg"></div>
<div class="svg"><img src="../assets/ce.svg"></div>
<div class="svg"><img src="../assets/be.svg"></div>
<div class="svg"><img src="../assets/vibhu.svg"></div>
</div>
    </div>
  </section>