<section id="Choose">
    <div class="container"> 
      <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="row justify-content-around align-items-center">
          <div class="col-lg-5">
            <h2 class="m-20px-b">Why to choose us?</h2>
            <div class="hr-line m-20px-b">
              <span class="theme-bg"></span>
              <span class="theme2nd-color"></span>
            </div>
            <ul class="list-type-02  m-5px-b">
              <li><i class="fab fa-fort-awesome fa-lg"></i>&nbsp;&nbsp;5+ Years Of Experience</li>
              <li><i class="fas fa-medal fa-lg"></i>&nbsp;&nbsp;Quality of Work</li>
              <li><i class="fas fa-hourglass-half fa-lg"></i>&nbsp;&nbsp;Time Efficient</li>
              <li><i class="fas fa-hand-holding-usd fa-lg"></i>&nbsp;&nbsp;Affordable Cost</li>
              <li><i class="fas fa-shield-halved fa-lg"></i>&nbsp;&nbsp;Secure</li>
              <li><i class="fas fa-headset fa-lg"></i>&nbsp;&nbsp;24/7 Support</li>
            </ul>            
          </div>                              
          <div class="col-lg-5">
            <img src="../assets/values-light.svg" title="" alt="N-tech"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  