<!-- app.component.html -->

<!DOCTYPE html> 
<div class="bg-white">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex fixed w-full items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <h1 class="text-4xl"><a href="#Home"><span>N-tech</span></a></h1>
      </div>
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" (click)="toggleMenu()">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path *ngIf="isMenuOpen" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6M6 6l12 12"></path>
            <path *ngIf="!isMenuOpen" stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12 lg:justify-end">
        <a href="#Home" class="text-lg font-semibold leading-6 text-gray-900">Home</a>
        <a href="#About" class="text-lg font-semibold leading-6 text-gray-900">About</a>
        <a href="#Services" class="text-lg font-semibold leading-6 text-gray-900">Services</a>
        <a href="#Clients" class="text-lg font-semibold leading-6 text-gray-900">Clients</a>
        <a href="#Contact" class="text-lg font-semibold leading-6 text-gray-900">Contact</a>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true" *ngIf="isMenuOpen">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <h1 class="text-4xl"><a href="#"><span>N-tech</span></a></h1>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" (click)="toggleMenu()">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a href="#Home" class="-mx-3 block rounded-lg px-3 py-2 text-lg font-semibold leading-7 text-gray-900 hover:bg-gray-50">Home</a>
              <a href="#About" class="-mx-3 block rounded-lg px-3 py-2 text-lg font-semibold leading-7 text-gray-900 hover:bg-gray-50">About</a>
              <a href="#Services" class="-mx-3 block rounded-lg px-3 py-2 text-lg font-semibold leading-7 text-gray-900 hover:bg-gray-50">Services</a>
              <a href="#Clients" class="-mx-3 block rounded-lg px-3 py-2 text-lg font-semibold leading-7 text-gray-900 hover:bg-gray-50">Clients</a>
              <a href="#Contact" class="-mx-3 block rounded-lg px-3 py-2 text-lg font-semibold leading-7 text-gray-900 hover:bg-gray-50">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="Home">
    <div class="relative">
    <div class="container">
      <div class="row  align-items-center">
        <div class="col-lg">
          <h4>N-tech Global Solutions</h4>
          <h5>IT Support and Services</h5>
          <p class="centered-text"> We enjoy breaking conventions of what's possible in the online world when we still keep costs in mind. We build effective online campaigns, marketing, e-commerce, and apps for many other purposes.</p>
        </div>
        <div class="col-lg">
          <img src="../assets/sit.svg" alt="N-tech">
        </div>
      </div>
    </div>
  </div>
  </section>
 
  <section class="section gray-bg" id="About">
    <div class="relative">
      <div class="container">
        <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
          <div class="col-lg">
            <h2 class="m-20px-t">Do More With Us</h2>
            <p style="text-align: center;">We analyze trends and come up with creativity connecting the virtual and real worlds.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <div class="media box-shadow p-20px white-bg hover-top border-radius-10">
              <div class="avatar-100 border-radius-10 dots-icon">
                <img src="../assets/services-idea.svg" title="" alt="N-tech"/>
                <span class="dots">
                  <i class="dot dot1"></i>
                  <i class="dot dot2"></i>
                  <i class="dot dot3"></i>
                </span>
              </div>
              <div class="media-body p-15px-l">
                <h6 class="m-5px-b">Creative Concepts</h6>
                <p class="m-15px-b">We will listen to reach out your goals regardless of what you sell. Based on that, we introduce more creative ideas for perfective work.</p>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="media box-shadow p-20px white-bg hover-top border-radius-10">
              <div class="avatar-100 border-radius-10 dots-icon">
                <img src="../assets/girl.svg" title="" alt="N-tech"/>
                <span class="dots">
                  <i class="dot dot1"></i>
                  <i class="dot dot2"></i>
                  <i class="dot dot3"></i>
                </span>
              </div>
              <div class="media-body p-15px-l">
                <h6 class="m-5px-b">Testing for Perfection</h6>
                <p class="m-15px-b">We deal individually with each project. Our design is sharp, clean, and we make sure that it is 99.9% error-free.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <div class="media box-shadow p-20px white-bg hover-top border-radius-10">
              <div class="avatar-100 border-radius-10 dots-icon">
                <img src="../assets/services-p-boy.svg" title="" alt="N-tech"/>
                <span class="dots">
                  <i class="dot dot1"></i>
                  <i class="dot dot2"></i>
                  <i class="dot dot3"></i>
                </span>
              </div>
              <div class="media-body p-15px-l">
                <h6 class="m-5px-b">Innovative Solutions</h6>
                <p class="m-15px-b">N-tech has the best team who is qualified and certified. They are well experienced by providing accurate and timely work.</p>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="media box-shadow p-20px white-bg hover-top border-radius-10">
              <div class="avatar-100 border-radius-10 dots-icon">
                <img src="../assets/cup.jpg" title="" alt="N-tech"/>
                <span class="dots">
                  <i class="dot dot1"></i>
                  <i class="dot dot2"></i>
                  <i class="dot dot3"></i>
                </span>
              </div>
              <div class="media-body p-15px-l">
                <h6 class="m-5px-b">We are the Best</h6>
                <p class="m-15px-b">We proudly say that we are One of the top IT Support and Service Providers with over 100+ employees team work is our key to success.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="Choose">
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="row justify-content-around align-items-center">
        <div class="col-lg-5 md-m-30px-b">
            <h2 class="m-20px-b">Why to choose us?</h2>
            <div class="hr-line m-20px-b">
                <span class="theme-bg theme2nd-color"></span> <span class="theme2nd-color"></span>

            </div>
            <ul class="list-type-02 m-5px-b">
              <li><i class="fab fa-fort-awesome fa-lg"></i>&nbsp;&nbsp;5+ Years Of Experience</li>
                          <li><i class="fas fa-medal fa-lg"></i>&nbsp;&nbsp;Quality of Work</li>
                          <li><i class="fas fa-hourglass-half fa-lg"></i>&nbsp;&nbsp;Time Efficient</li>
                          <li><i class="fas fa-hand-holding-usd fa-lg"></i>&nbsp;&nbsp;Affordable Cost</li>
                          <li><i class="fas fa-shield-halved fa-lg"></i>&nbsp;&nbsp;Secure</li>
                          <li><i class="fas fa-headset fa-lg"></i>&nbsp;&nbsp;24/7 Support</li>
            </ul>            
        </div>
        <div class="col-lg-6">
          <img src="../assets/values-light.svg" title="" alt="N-tech"/>
          </div>
        </div>
    </div>
  </section>
  <section id="Services">
    <div class="container"> 
      <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
        <div class="col-lg-12">
            <h2>OUR SERVICES</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
            <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3 pt-1">
                <i class="fa-solid fa-crown">
                </i>

                                        </div>
                <div class="p-25px">
                    <h5>Web Design</h5>

                    <p class="m-0px">
Crafting World-Class Website Designs for Real World Experiences, transforming your ideas into live.
                         </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
            <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3 pt-1">
                <i class="fa-solid fa-ranking-star"></i>
                                                                </div>
                <div class="p-25px">
                    <h5>Digital Marketing</h5>
                    <p class="m-0px">
                     Digital Marketing Service has become an integral demand for every business to make its brand popular.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
            <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3 pt-1">
                <i class="fa-brands fa-apple"></i>
                                        </div>
                <div class="p-25px">
                    <h5>Mobile Application</h5>
                    <p class="m-0px">
                    Deploying a rich and powerful Mobile App that drives your Mobile Savvy audience with your business                                </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
            <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3 pt-1">
                <i class="fa-solid fa-eye"></i>
                                        </div>
                <div class="p-25px">
                    <h5>Cyber Security</h5>
                    <p class="m-0px">24/7 security operations to provide seamless protection from known and unknown cyber threats</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
            <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3 pt-1">
                <i class="fa-brands fa-soundcloud"></i>
                                                              </div>
                <div class="p-25px">
                    <h5>Cloud Service</h5>
                    <p class="m-0px">Cloud Services are designed around our customers and delivered on the platform that best meets their needs.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
            <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3 pt-1">
                <i class="fa-solid fa-dragon"></i>
                                        </div>
                <div class="p-25px">
                    <h5>Logo Design</h5>
                    <p class="m-0px">
                    Logo Designing is the start point of any business.Logo design that will stay with your brand for a long time.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
  </section>
  <!--  <section class="pt white-bg overflow-hidden" id="Clients">
    <div class="container"> 
      <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
        <div class="col-lg-12">
            <h2 class="cli">OUR TRUSTED CLIENTS</h2>
        </div>
    </div>
<div class="customer-logos">
<div class=""><img src="../assets/lcc.png"></div>
<div class=""><img src="../assets/aa.svg"></div>
<div class=""><img src="../assets/bee.png"></div>
<div class=""><img src="../assets/alba.svg"></div>
<div class=""><img src="../assets/ce.svg"></div>
<div class=""><img src="../assets/be.svg"></div>
<div class=""><img src="../assets/vibhu.svg"></div>
</div>
    </div>
  </section> -->

   <section  id="Digital">
    <div class="container">
        <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
            <div class="col-lg-12">
              <h2>DIGITAL MARKETING </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
                <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                    <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3 pt-1">
                    <i class="fa-solid fa-magnifying-glass-dollar"></i>
                </div>
                    <div class="p-25px">
                        <h5>Search Engine </h5>
                        <p class="m-0px">Increase your page visibility in search engines through paid advertising and our search engine marketing services.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
                <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                    <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3 pt-1">
                    <i class="fa-brands fa-facebook-f"></i>
                                            </div>
                    <div class="p-25px">
                        <h5>Social Media Optimization</h5>
                        <p class="m-0px">social media and page management, Designing Ad, lead generation, and tracking, Ad campaigns, and creatives.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
                <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                    <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3 pt-1">
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>                            
                                                                                        </div>
                    <div class="p-25px">
                        <h5>Pay Per Click</h5>
                        <p class="m-0px">Pay Per Click helps you to compete with competitors in a faster way to achieve ROI goals.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
                <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                    <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3 pt-1">
                    <i class="fa-solid fa-envelope-open-text"></i>
</div>
                    <div class="p-25px">
                        <h5>E-Mail Marketing</h5>
                        <p class="m-0px">Email marketing is the process of targeting your audience and customers through email. Faster way to achieve target goals.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
                <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                    <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3 pt-1">
                    <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <div class="p-25px">
                        <h5>Affiliate Marketing</h5>
                        <p class="m-0px">Affiliate marketing is an advertising model in which a company compensates third-party publishers to generate traffic.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-t m-30px-b">
                <div class="box-shadow white-bg hover-top border-radius-10 text-center">
                    <div class="icon-90 white-bg theme-color border-radius-10 shadow d-inline-block mt-n3 pt-1">
                    <i class="fa-brands fa-android"></i>
                    </div>
                    <div class="p-25px">
                        <h5>Mobile Marketing</h5>
                        <p class="m-0px">Digital marketers are excited to carry out mobile campaigns because they are aware that motive customers are buyers.</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>
  <section class="section gray-bg" id="Pc">
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="row justify-content-around align-items-center">
        <div class="col-lg-5 md-m-30px-b">
            <h2 class="m-20px-b">Build Next Generation</h2>
            <div class="hr-line m-20px-b">
                <span class="theme-bg theme2nd-color"></span> <span class="theme2nd-color"></span>

            </div>
            <ul class="list-type-02 m-5px-b">
              <li><i class="fa-sharp fa-solid fa-desktop fa-lg"></i>&nbsp;&nbsp;Pro Gaming PC</li>
              <li><i class="fa-sharp fa-solid fa-microchip fa-lg"></i>&nbsp;&nbsp;High Quality Standards</li>
              <li><i class="fa-sharp fa-solid fa-globe fa-lg"></i>&nbsp;&nbsp;Global Services</li>
              <li><i class="fas fa-hand-holding-usd fa-lg"></i>&nbsp;&nbsp;Affordable Cost</li>
              <li><i class="fas fa-shield-halved fa-lg"></i>&nbsp;&nbsp;Secure</li>
              <li><i class="fas fa-headset fa-lg"></i>&nbsp;&nbsp;24/7 Support</li>
            </ul>            
        </div>
        <div class="col-lg-6">
          <img src="../assets/pc.png" title="" alt="N-tech"/>
          </div>
        </div>
    </div>
  </section>
  <section id="Contact">
    <div class="container"> 
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="row justify-content-around align-items-center">
        <div class="col-lg-5 md-m-30px-b">
            <h2 class="m-20px-b">Get in Touch with Us</h2>
            <div class="hr-line m-20px-b">
                <span class="theme-bg theme2nd-color"></span> <span class="theme2nd-color"></span>

            </div>
            <ul class="list-type-12 m-5px-b">
              <li> <i class="fa-solid fa-phone-volume fa-xl"></i>+91 7901455434</li>
              <li> <i class="fa-solid fa-envelope fa-xl"></i>adminntechsolutions.org</li>
              <li> <i class="fa-solid fa-globe fa-xl"></i>www.ntechsolutions.org</li>
              <li> <i class="fa-solid fa-map-location-dot fa-xl"></i>India</li>
            </ul>            
        </div>
        <div class="col-lg-6">
          <img src="../assets/get2.gif" title="" alt="N-tech"/>
          </div>
        </div>
    </div>
  </div>
  </section>
  
</div>