@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  line-height: 1.7;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: medium;

}

app-header, app-home, app-about, app-choose, app-services, app-clients, app-digital, app-pc, app-contact, app-footer {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}

img {
  max-width: 100%;
}

#Home, #About, #Services, #Clients, #Choose, #Digital, #Pc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.white-bg {
  background-color: #ffffff;
}

.gray-bg {
  background-color: #f0f0f0;
}


h2{
  color: #1c89ee;
  line-height: 1.2;
  font-size:larger;
  font-weight: 600;
  font-size: calc(1.325rem + 0.9vw);
}



.hr-line {
  height: 3px;
  font-size: 0px;
}

.hr-line span {
display: inline-block;
vertical-align: top;
position: relative;
height: 3px;
margin-right: 5px;
border-radius: 3px;
}

.theme-bg {
  background-color: #03c;
  width: 50px;
}

.theme2nd-color {
  background-color: #EEB127;
  width: 20px;
}


.m-5px-b{
  margin-bottom: 5px;
}
.m-20px-b {
  margin-bottom: 20px;
}

